html, body{
  height: 100vh;
}
main {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 80px;
}
.row{
  margin: 0 auto;
}
.btn{
  margin: 0 4px;
}

/* Navbar ********************************************** */
nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 57px;
}
nav .brand-logo {
  left: 10px;
  line-height: 3.8rem;
}
nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  line-height: 38px;
}
.nav-wrapper div {
  margin-top: 10px;
  margin-right: 10px;
}

/* Input ********************************************** */
input {
  display: none;
}
.input-text{
  display: block;
}
#inputContainer {
  display: none;
}
.input-field{
  justify-items: center;
}
.add-container{
  margin: 0 auto 70px auto;
  text-align: center;
}
#btn-new-image {
  position: fixed;
  bottom: 20px;
  transform: translateX(-28px);
}
.btn-large i {
  font-size: 2.55rem;
}
.btn-floating.btn-large i {
  line-height: 44px;
}

/* Image Card ********************************************** */
img{
  padding: 10px 15px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.all_image_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#img-container{
  margin-bottom: 80px;
}
.card {
  margin: 10px 3px;
  border: 1px solid rgba(0,0,0,0.2);
  text-align: center;
  width: 46%;
  min-width: 250px;
  max-height: 300px;
  overflow: hidden;
}
.card p {
  padding-top: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin: 0;
}
.card p:last-of-type {
  color: grey;
}
.card .material-icons {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
  transition: 0.2s ease-in-out;
  color: #26a69a;
}
.card .material-icons:hover {
  color: #ff6e40;
}

/* Modal ****************************** */
.modal-content h3 {
  font-size: 2rem;
}
.modal-content .btn {
  margin-top: 10px;
}
#messageModal {
  top: 150px;
  z-index: 100000;
}
.modal {
  max-height: 100%;
}

/* Query ************************************ */
@media only screen and (max-width: 992px) {
  nav .brand-logo.left {
    left: 10px;
    font-size: 1.75rem;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 540px) {
  .card {
    min-width: 95%;
  }
}
@media only screen and (max-width: 350px) {
  nav .brand-logo.left {
    font-size: 1.7rem;
  }
}

/* Footer ************************************** */
.page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.page-footer .footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  min-height: 30px;
}

/* Effects ************************* */
.inactive-log, .inactive {
  display: none;
}
.active-log {
  display: block;
}
.error {
  color: #ff6e40;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

